/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #4a90e2, #d34848, #ff9b00, #ffcc1e, #4a90e2);
    color: #333;
    padding: 20px;
    margin: auto;
    max-width: 600px;
}

/* Estilos para el encabezado */
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

/* Estilos para las secciones */
section {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    transition: all 0.3s ease;
    background-color: rgb(167, 166, 166);
    border-radius: 20px;
    padding: 20px;
}

/* Estilos para los elementos de lista */
li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

ul.skills-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

ul.skills-list li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #333;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #333;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
        padding: 10px;
    }
}

/* Efecto hover para las secciones */
section:hover {
    transform: scale(1.1);
}

/* Estilos para la rejilla de proyectos y superposición de imágenes */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.project {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.project:hover .overlay {
    opacity: 1;
}

/* Estilos para el contenedor negro con esquinas redondeadas */
.container {
    background-color: rgb(167, 166, 166);
    border-radius: 20px;
    padding: 20px;
}
